@layer init { 

  .aktuality {
    width: 30%;
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
    overflow: hidden;
  }

  .aktuality__header {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    text-align: start;
  }

  .header-text p {
    margin: 0.3rem;
  }

  .author {
    font-size: 0.8rem;
    opacity: 70%;
  }

  h2 + p, .date {
    font-size: 0.5rem;
    opacity: 50%;
  }

  #aktuality, #posledni-aktuality, #posledni-aktualita {
    display: flex;
    gap: 3%;
  }

  #aktuality h2, #posledni-aktuality h2, #posledni-aktualita h2 {
    font-size: 1.3em;
  }

  #aktuality p, #posledni-aktuality p, #posledni-aktualita p {
    margin: 1rem;
  }


  p img {
    width: 1rem;
    height: auto;
  }

  #aktuality img, #posledni-aktuality img, #posledni-aktualita img {
    width: 100%;
    height: auto;
  }
}