@layer init { 
  .aktuality {
    display: flex;
    gap: 15%;
    justify-items: center;
  }
  .aktuality article {
    max-width: 500px;
    width: 30%;
    height: auto;
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
    overflow: hidden;
  }
  .aktuality__header {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    text-align: start;
  }
  #posledni-aktualita article {
    width: 100%;
  }
  .aktuality-content .header-text p {
    margin: 0.3rem;
  }

  .author {
    font-size: 0.8rem;
    opacity: 60%;
  }

  h2 + p, .date {
    font-size: 0.5rem;
    opacity: 50%;
  }

  .aktuality-content {
    display: flex;
    gap: 3%;
  }

  .aktuality-content h2 {
    font-size: 1.3em;
  }

  .aktuality-content p {
    margin: 1rem;
  }

  .aktuality-content img {
    width: 100%;
    height: auto;
  }
  .aktuality-content .profile-pic {
		width: 2.5rem;
		height: 2.5rem;
		margin: auto 0;
		border-radius: 20rem;
  }
}