#aktuality-container h2, #posledni-aktualita h2 {
  color: #2a9d8f;
  font-size: 1.8em;
  margin-bottom: 10px;
  border-bottom: 2px solid #264653;
  padding-bottom: 5px;
}

#aktuality-container p, #posledni-aktualita p {
  font-size: 1.1em;
  line-height: 1.4;
  color: #333;
}

#aktuality-container img, #posledni-aktualita img {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}