@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@layer typo {
	:root {
		font-family: "Manrope", Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

    p {
		font-size: 1rem;
		white-space: normal;
		color: var(--color-dark);
    }
    	li {
		list-style: none;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: var(--color-dark);
	}
	.color{
		color: var(--color-primary);
	}
	.less{
		color: #B7B7B7;
	}
	.fancy-text {
  		font-family: 'Birthstone Bounce', 'Brush Script MT', cursive;
  		font-weight: 400;
  		font-style: normal;
		font-size: smaller;
	}
	.description {
		font-size: 0.75rem;
		margin-bottom: -1.7rem;
		font-weight: 550;
		color: var(--color-primary);
	}
	menu h1 {
		font-size: 32px;
		color: var(--color-light);
	}
	h1 {
		color: var(--color-primary);
		font-family: 'Unna', serif;
		font-size: 40px;
		font-weight: 700;
	}
	h2 {
		color: var(--color-dark);
		font-family: 'Unna', serif;
		font-size: 24px;
		font-weight: 400;
		padding-top: 2rem;
	}
	h3, h4 {
		font-family: 'Unna', serif;
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
	}
	h4 {
		font-size: 18px;
		margin: 0;
	}
}