@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');
@layer typo {
	:root {
		font-family: "Manrope", Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

    p {
		font-size: 1rem;
		white-space: normal;
    }
    	li {
		list-style: none;
	}
	a {
		display: inline-block;
		text-decoration: none;
	}
	.fancy-text {
  		font-family: 'Birthstone Bounce', 'Brush Script MT', cursive;
  		font-weight: 400;
  		font-style: normal;
	}
}